/*Estilo para tablets*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
	.capa{
		flex-direction: column;
	}
	.cards{
    top: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    
	}
	.names{
    display: flex;
    justify-content: space-between;
    width: 100%;
		margin-top: 130px;
		margin-bottom: 10px;
    color: #7A49A3;
	}
	#esquerda{
		width: 333px;
	}
	#direita{
		width: 250px;
	}
}

/*Estilo para smartphone*/
@media only screen and (max-width: 787px) {
	.nav{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    animation: backwards top 2s;
    animation-delay: 5s;
	}
	.capa{
		flex-direction: column;
	}

	.cards{
		visibility: collapse;
		position: absolute;
		}
	.names div{
		flex-direction: column;
		align-items: space-between;
	}
	.names div p{
		text-align: center;
		border: 3px solid #7A49A3;
		width: 150px;
		left: 100px;
		padding: 10px;
		margin-bottom: 10px;
	}
	#esquerda{
		margin: 0;
		margin-right: 10px;
	}
}