body{
    background: black;
}

.nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    animation: backwards top 2s;
    animation-delay: 5s;
    z-index: 100;
}
.nav a:nth-child(even){
    margin-left: 16px;
}

.capa{
    top: -40px;
    display: flex;
    align-items: center;
}

.capa img{
    padding-top: 50px;
    animation: anime-capa 2s;
}

.texto{
    text-align: center;
    animation: backwards anime-capa 2s;
    animation-delay: 1s;
}

h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    line-height: 20px;
    color: white;
}
h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.cards{
    top: -130px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    
}

.names{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    color: #7744AA;
}
.names p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5;
}

.cards img:nth-child(1){
    animation: backwards card 2s;
    animation-delay: 1.5s;    
}
.cards img:nth-child(2){
    animation: backwards card 2s;
    animation-delay: 2s;    
}

.cards img:nth-child(3){
    animation: backwards card 2s;
    animation-delay: 2.5s;    
}

.cards img:nth-child(4){
    animation: backwards card 2s;
    animation-delay: 3s;    
}

.names #esquerda p:nth-child(1){
    
    animation: backwards card 2s;
    animation-delay: 1.5s;
}
.names #esquerda p:nth-child(2){
    
    animation: backwards card 2s;
    animation-delay: 2s;    
}
.names #direita p:nth-child(1){
    animation: backwards card 2s;
    animation-delay: 2.5s;    
}
.names #direita p:nth-child(2){
    animation: backwards card 2s;
    animation-delay: 3s;    
}
#direita{
    display: flex;
    justify-content: space-between;
    width: 314px;

}
#esquerda{
    display: flex;
    justify-content: space-between;
    width: 396px;
    margin-left: 33px;

}
/*animação top*/

@keyframes top{
    from{
        transform: translatey(-20px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}


/*animacoes cards*/
@keyframes card{
    from{
        transform: translatey(200px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}



/*animacoes capa*/

@keyframes anime-capa{
    from{
        transform: translateX(-200px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}